/*
 * @Author: nearxu
 * @Date: 2017-11-22 12:35:05 
 */

.prize-wrap {
  margin-top: 40px;
  .title {
    font-size: 36px;
    color: #fff;
    line-height: 88px;
    background-color: #5b3ce1;
    border-radius: 10px 10px 0 0;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .scroll-yfq {
    width: 100%;
    height: 144px;
    overflow: hidden;
    .content {
      width: 100%;
      height: 144px;
      overflow: hidden;
      .acc {
        padding: 0 60px 0 30px;
        font-size: 28px;
        color: #cbc0f9;
        line-height: 48px;
        display: flex;
        .left {
          flex: 1;
        }
        .right {
          // float: right;
          width: 200px;
          display: flex;
          justify-content: space-between;
          i {
            color: #ffd640;
          }
        }
        .name {
          color: #fff;
        }
      }
    }

    .slick-prev {
      display: none !important;
    }
    .slick-next {
      display: none !important;
    }
  }
}
