body,
#app {
  background: #fff !important;
}
.yc-k3 {
  .ball-panel {
    padding-left: 20px;
    padding-right: 20px;
    td {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;
      width: 16.666666667%;
      &.selected {
        .ball-label {
          color: #fff;
        }
      }
    }
    .ball {
      border-radius: 2px;
      display: block;
      width: 100%;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 1.2;
      .ball-label {
        display: block;
        color: #666;
        font-size: 26px;
      }
      .ball-data {
        top: 110%;
      }
    }
  }
  .number-lottery-empty-dialog {
    .balls {
      .ball {
        background: rgb(30, 136, 210);
        border-radius: 6px;
      }
    }
  }
  .histories-component {
    &:before {
      display: none;
    }
  }
  .ball-panel-box {
    &.top {
      margin-top: -20px;
    }
    .ball-panel-title {
      font-size: 32px;
      background: rgb(30, 136, 210);
      color: #fff;
      padding: 0 80px 0 20px;
      height: 60px;
      line-height: 60px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        height: 60px;
        width: 60px;
        right: -30px;
        top: 0;
        background: #fff;
        transform: rotate(-45deg);
      }
    }
    .ball-panel-tip {
      padding: 30px;
      text-align: center;
    }
  }
}

.k3-th3-balls {
  .ball {
    width: auto !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
