.regsec {
    .regsec-cont {
        img {
            display: block;
            margin: 45px auto;
        }
        .cong {
            text-align: center;
            font-size: 30px;
            line-height: 36px;
            color: #333;
            margin-bottom: 16px;
        }
        .next-btn {
            display: block;
            width: 94%;
            height: 90px;
            margin: 30px auto 0;
            background-color: #1e88d2;
            border-radius: 8px;
            font-size: 34px;
            line-height: 90px;
            text-align: center;
            color: #fff;
            border: none;
            outline: none;
        }
        .go-hung {
            text-align: center;
            font-size: 30px;
            line-height: 100px;
            color: #1e88d2;
        }
        .email-very {
            width: 94%;
            margin: 0 auto;
            border-top: 1px dashed #666; /*no*/
            input {
                width: 444px;
                height: 70px;
                font-size: 28px;
                border: 1px solid #ccc; /*no*/
                margin: 60px 30px 0;
                padding-left: 20px;
            }
            .sub-btn {
                width: 160px;
                height: 73px;
                background-color: #e6e6e6;
                color: #999;
                font-size: 34px;
                line-height: 70px;
                border-radius: 10px;
                outline: none;
                border: none;
            }
            .sub-btn-blue {
                width: 160px;
                height: 73px;
                background-color: #1e88d2;
                color: #fff;
                font-size: 34px;
                line-height: 70px;
                border-radius: 10px;
                outline: none;
                border: none;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                color: #999;
                margin-left: 30px;
                span {
                    color: #ed1c24;
                }
            }
            .fir-list {
                margin-top: 20px;
            }
            .sec-list {
                margin-top: 40px;
            }
            .thi-list {
                color: #1e88d2;
            }
        }
    }
}