/*
* @Author: liaozhityuan
* @Date:   2017-11-11 15:21:58
* @Last Modified by:   liaozhityuan
* @Last Modified time: 2017-11-11 16:57:20
*/
.Download {
  margin-top: 20px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;

  .txt {
    width: 492px;
    height: 44px;
    margin-top: 28px;
    margin-right: 32px;
  }
  .btn {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    background-color: #fb4a02;
    border-radius: 40px;
    margin-top: 30px;
  }
}
