.list-detail {
    padding:0 30px;
    background: #fff;
    .list{
        padding: 30px 0;
        border-bottom: 1px solid #e5e5e5; /*no*/
        .title{
            color:#333333;
            font-size:32px;
        }
        .center{
            display: flex;
            justify-content:flex-start;
            margin-top:25px;
            .article-img{
                img{
                    max-width:224px;
                    height:150px;
                    display: block;
                }
            }
            .title{
                margin-left:30px;
                margin-bottom:0;
            }
            .space-center{
                width:100%;
                display: flex;
                justify-content: space-between !important;
                img{
                    width:100% !important;
                }
            }
        }
        .footer{
            .bottom{
                display: flex;
                justify-content: space-between;
                margin-top:17px;
                i{
                    color:#3F3F3F;
                    margin-right:20px;
                }
                .link{
                    img{
                        display: block;
                        width:32px;
                        height:32px;
                    }
                }
            }
        }
    }
}