// @import '../base/base.scss';
.yc-rpt {
  .content {
    .rpt-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      font-size: 28px;
      color: #666666;
    }
    .rpt-body {
      .body-item {
        background-color: #fff;
        display: flex;
        justify-content: center;
        padding: 30px;
        font-size: 28px;
        color: #666666;
        border-bottom: 1px dashed #ccc; /*no*/
      }
    }
    .rpt-time {
      width: 170px;
      min-width: 170px;
    }
    .rpt-info {
      flex: 1;
    }
    .rpt-mul {
      text-align: right;
    }
  }
}
.load-more {
  background: #fff;
  font-size: 30px;
  color: #333333;
  text-align: center;
  line-height: 88px;
}
.no-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .icon-errpic {
    width: 460px;
    height: 306px;
    background: url("../img/index/errorpic@2x.png") no-repeat 50%;
    background-size: cover;
    margin: 0 auto;
  }
  .no-rep {
    font-size: 34px;
    color: #fe7a0d;
    margin-top: 84px;
    text-align: center;
  }
  .gone {
    font-size: 28px;
    color: #999999;
    text-align: center;
  }
}
