// @import '../base/base.scss';

.container {
  background: #fff;
  .item-header {
    display: flex;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    span {
      border-right: 1px solid #e5e5e5;
      padding: 27px 0;
      &::last-child {
        border-right: 0;
      }
    }
  }
  .item-content {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    .col {
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #e5e5e5;
      &::last-child {
        border-right: 0;
      }
    }
    .game {
      flex-direction: column;
    }
    .game-list {
      display: flex;
      flex-direction: column;
      text-align: center;
      i {
        color: #333;
      }
    }
    .game-result {
      em {
        color: #333;
      }
    }
  }
  .col1 {
    width: 10%;
  }
  .col2 {
    width: 20%;
  }
  .col3 {
    width: 30%;
  }
}

.icon-dan {
  width: 42px;
  height: 42px;
  background-image: url(../img/icon_state_two@2x.png);
  background-size: cover;
}

.orange-fill {
  background-color: #f60;
  color: #fff !important;
  padding: 0 10px;
}
