
// @import '../base/base.scss';
// @import "./component/common.scss";

.verify-mail{
    .verify-phone {
        font-size: 28px;
        color: #999;
        margin-top: 58px;
        padding-left: 32px;
        padding-bottom: 20px;
        span{
            color: #1e88d2;
        }
    }
}