/*
* @Author: liaozhityuan
* @Date:   2017-11-11 17:26:55
* @Last Modified by:   liaozhityuan
* @Last Modified time: 2017-11-11 17:54:16
*/
.link_2ncai {
  height: 60px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffe000;

  .link {
    display: block;
    height: 60px;
    line-height: 58px;
    text-align: center;
    color: #ffe000;
    font-size: 30px;
  }
}
