.empty-component {
    padding: 200px 0;
    text-align: center;
    color: #999;
    img {
        width: 140px;
        height: 140px;
    }
    .message {
        font-size: 30px;
        padding-top: 30px;
    }
}
