.rebate-list {
  .rebate {
    display: flex;
    border-bottom: solid 1px #f4f4f4; /* no */
    padding: 30px;
    font-size: 28px;
    color: #666;
    background-color: #fff;
    .info {
      flex: 1;
      padding-left: 80px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .amount-info {
        i {
          color: #333;
        }
      }
      .order-amount {
        padding-right: 30px;
        position: relative;
        &:after {
          content: "";
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #d8d8d8;
          position: absolute;
          right: 10px;
          top: 20px;
        }
      }
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-size: 32px;
        font-weight: normal;
        color: #333;
      }
    }
    .arrow {
      padding-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        display: block;
        height: 20px;
        width: 20px;
        border-bottom: solid 2px #c7c7cc; /* no */
        border-right: solid 2px #c7c7cc; /* no */
        transform: rotate(-45deg);
      }
    }
  }
}
