//list linklist
.linklist-box {
  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e6e6e6; /*no*/
    background-color: white;
    li.linklist-item {
      .link {
        display: block;
        margin-left: 26px;
        border-bottom: 1px solid #e6e6e6; /*no*/
        background: url("../../img/list-right.png") no-repeat right 26px center;
        background-size: 20px auto;
        line-height: 88px;
        font-size: 32px;
        color: #333;
        img {
          width: 53px;
          max-height: 49px;
          vertical-align: middle;
          margin-right: 30px;
        }
        span.pull-r {
          float: right;
          color: #999;
          font-size: 0.26rem;
        }
      }
    }
    li:last-child .link {
      padding-left: 26px;
      margin-left: 0;
    }
  }
}
