.ball {
  font-size: 26px;
  color: #fff;
  line-height: 55px;
  text-align: center;
  overflow: hidden;
  span {
    width: 70px;
    height: 97px;
    border-radius: 4px; /*no*/
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    b {
      display: block;
      width: 55px;
      height: 55px;
      border-radius: 100%;
      float: left;
      z-index: 10;
    }
  }
  .red {
    background-color: #ff3333;
  }
  .blue {
    background-color: #3399ff;
  }
}
