@import "../../../../../../lib/scss/base/base.scss";

.follow-bar {
  display: flex;
  height: 100px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .follow-btn {
    background: #ed1c24;
    width: 240px;
    line-height: 100px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    margin: 0;
  }
  .follow-times {
    padding-left: 20px;
    flex: 1;
    display: flex;
    border-top: solid 1px #f4f4f4; /* no */
    .number-input-component {
      .minus,
      .plus {
        display: none;
      }
      .number-input {
        border: none;
        background: transparent;
        width: auto;
        text-align: center;
        flex: 1;
      }
    }
    .times-input {
      border: solid 1px #f4f4f4; /* no */
      border-radius: 2px; /* no */
      width: 224px;
      height: 60px;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
    }
    .number-input-component {
      flex: 1;
    }
    .times-box {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .amount {
    flex: 1;
    display: flex;
    text-align: right;
    padding-right: 40px;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
  }
}
