.receipt-recommend {
  margin-top: 20px;
  h2 {
    font-size: 32px;
    font-weight: normal;
    padding: 20px;
    border-bottom: solid 1px #f4f4f4; /* no */
    background: #fff;
  }
  .empty-recommend {
    background: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
  }
}
