.bd-lottery {
    .orange-fill{
        color:#ED1B24;
        background: #fff;
    }
    .jjc-item {
        background: #fff;
        margin-top: 20px;
        .jjc-item-h {
            padding: 26px 22px;
            display: flex;
            justify-content: space-between;
            span {
                margin-right: 20px;
            }
            b{
                font-weight:normal;
            }
            .text-right{
                text-align:right;
            }
        }
        .jjc-item-b {
            border-top: 1px solid #E6E6E6 ;
            /*no*/
            // border-bottom: 1px solid #e6e6e6;
            /*no*/
            align-items: center;
            display: flex;
            justify-content: space-between;
            .jjc-item-b-m {
                width: 40%;
                border-left: 1px solid #e6e6e6;
                /*no*/
                border-right: 1px solid #e6e6e6;
                /*no*/
                display: flex;
                flex-wrap: wrap;
                span{
                    display:inline-block;
                    width:50%;
                    text-align: center;
                    padding:15px 0;
                }
                b{
                    font-weight:normal;
                }
                
            }
            .jjc-item-b-r{
                width:40%;
                text-align: center;
                b{
                    font-weight:normal;
                }
            }
            .jjc-item-b-l {
                width: 20%;
                // padding: 30px 0;
                text-align: center;
            }
        }
    }
}