/*
* @Author: liaozhityuan
* @Date:   2017-10-28 16:19:57
* @Last Modified by:   liaozhityuan
* @Last Modified time: 2017-10-28 16:37:21
*/

.loadingMore {
  height: 88px;
  line-height: 88px;
  text-align: center;
  color: #999;
  font-size: 28px;
  background-color: #f4f4f4;
}
