.user-info {
  padding: 30px 20px;
  border-bottom: solid 1px #f4f4f4; /* no */
  display: flex;
  .user-avatar {
    height: 90px;
    padding-right: 20px;
    img {
      height: 90px;
      width: 90px;
      border-radius: 50%;
    }
  }
  .user-summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .user-nickname {
      font-size: 32px;
      font-weight: normal;
    }
    .user-data {
      color: #666;
      span {
        padding-right: 30px;
        position: relative;
        i {
          color: #333;
        }
        &:after {
          content: "";
          position: absolute;
          height: 8px;
          width: 8px;
          background: #d8d8d8;
          border-radius: 50%;
          top: 14px;
          right: 11px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
.dashboard-analytics-summary {
  padding: 40px 0;
  dl {
    display: flex;
    dd {
      border-right: solid 1px #f4f4f4; /* no */
      text-align: center;
      line-height: 1;
      font-size: 26px;
      color: #333;
      flex: 1;
      span {
        display:block;
        width: 100%;
        text-align:center;
        font-size:28px;
        &:first-child {
          margin-bottom: 20px;
        }
        &.number {
          color: #F01614;
          font-size:32px;
        }
      }
    }
  }
}
