/**
 * Created by YLD
 * date 2017-09-20
 * desc: 竞彩篮球
 */

@import "../../../../../lib/scss/base/base";
@import "../../../../../lib/scss/base/mixins";
//@import './optimiztion';
.header {
  .header-fix {
    padding-right: 0;
    .header-con {
      .handle {
        width: auto !important;
      }
    }
  }
}
// 头部
.operation {
  display: flex;
  width: auto;
  position: relative;
  padding-right: 20px;
  > div {
    @include size(46px);
    background-size: cover;
  }
  .opermore {
    @include size(46px);
    display: inline-block;
    position: relative;
    background: url(../img/icon_more@2x.png) no-repeat;
    background-size: cover;
  }
  > span,
  a {
    font-size: 32px;
    color: #fff;
  }
  .filt {
    background: url(../img/icon_bolt@2x.png) no-repeat;
    background-size: cover;
    margin-right: 20px;
  }
  .oper-menu {
    position: absolute;
    top: 80px;
    right: 10px;
    width: 300px;
    background: #fff;
    border-radius: 10px; /*no*/
    box-shadow: 0 0 30px #999;
    @include z-index(alert);
    .arrows {
      position: absolute;
      top: -10px;
      right: 20px;
      @include arrows($rotate: -45, $size: 20px, $line-size: 20px, $color: #fff);
    }
    li {
      img {
        vertical-align: middle;
        margin-right: 20px;
        height: 46px;
        width: 46px;
      }
      font-size: 28px;
      line-height: 85px;
      padding: 0 35px;
      border-bottom: 2px solid #f4f4f4; /*no*/
      &:last-of-type {
        border-bottom: none;
      }
      a {
        display: block;
        color: #333;
      }
    }
  }
}

.jcl-saleout-content {
  a {
    margin-left: 10px;
  }
}

.yc-bjdc {
  overflow: hidden;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .red-wine {
    color: #fd75cd;
  }

  .page-status {
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
  }

  .menu-tab {
    position: fixed;
    top: 80px;
    width: 100%;
    @include z-index(header);
  }

  .tip-time {
    position: fixed;
    top: 168px;
    width: 100%;
    font-size: 26px;
    text-align: center;
    line-height: 50px;
    background-color: #f9f9f9;
    .red {
      color: red;
      margin-left: 10px;
    }
  }

  .header-menu {
    .menu-fix {
      display: flex;
      overflow-x: auto;
      justify-content: inherit;
      > div {
        word-break: keep-all;
        white-space: nowrap;
      }
    }
  }

  .no-bottom {
    .box-view {
      .game {
        margin-bottom: 0;
      }
    }
  }

  .box-view {
    .bv-header .title {
      color: #424242;
      text-align: center;
    }
  }

  .cart-body {
    position: absolute;
    margin-bottom: 168px;
    overflow-x: hidden;
    top: 168px;
    // background-color: #f9f9f9;
    width: 100%;
    padding-bottom: 120px;

    &.show-msg {
      margin-top: 50px;
      .box-view.fixed .bv-header {
        margin-top: 50px;
      }
    }

    display: flex;
    flex-direction: column;

    .orange {
      color: orange;
    }
    .yellow {
      color: #dba780;
    }

    .num-panel-area {
      overflow-y: auto;
      flex: 1;
    }

    .bet-info {
    }
  }

  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 96px;
    background-color: #fff;
    .btn-gray {
      background-color: #a7a7a7;
      color: #fff;
    }
    .btn-pay,
    .btn-txt {
      padding: 0 30px;
      .num-mark {
        border: 1px solid orange; /*no*/
        color: orange;
      }
    }
    .bet-nor {
      font-weight: 400;
    }
  }

  .bet-info-tip {
    position: fixed;
    bottom: 96px;
    width: 100%;
    border-top: 1px solid #f4f4f4; /*no*/
    color: #999;
    font-size: 26px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .del {
      background: url(../img/icon_del@2x.png) center no-repeat;
      width: 50px;
      height: 50px;
      margin: 10px 15px;
      background-size: 100%;
    }

    .info {
      padding: 10px 0;
      margin: 0 20px;
    }

    .cal-load {
      display: none;
      margin-right: 20px;
      height: 30px;
      width: 30px;
      background: url(../img/loadding.png) center no-repeat;
      background-size: 100%;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 1s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s;
      -webkit-animation: rotate 2s linear infinite;
      -moz-animation: rotate 2s linear infinite;
      -o-animation: rotate 2s linear infinite;
      animation: rotate 2s linear infinite;
    }
  }

  .dan-mark {
    position: fixed;
    bottom: 60px;
    background-color: #00ca00;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 100px;
  }

  .yz-pop {
    .yc-popover {
      width: 200px;
      position: absolute;
      bottom: 0;
      top: auto;
      bottom: 110px;
      left: 30px;

      .popover-arrow::after {
        bottom: -10px;
        left: 10px;
        right: auto;
        top: auto;
        transform: rotate(180deg);
      }
    }
  }
}

.random-bet {
  display: flex;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
