@import "../../../../../lib/scss/base/base";

body,
#app {
  background: #fff !important;
}
.yc-bet-cart-modal {
  .popup-wrap {
    .modal-content {
      .num-cart {
        .cart-area {
          .item-info {
            .ball {
              .ball {
                display: inline-block;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
.yc-11x5 {
  .ball-panel {
    padding-left: 20px;
    padding-right: 20px;
    td {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;
      width: 16.666666667%;
      &.selected {
        .ball-label {
          color: #fff;
        }
      }
    }
  }
  .histories-component {
    &:before {
      display: none;
    }

    .histories {
      table {
        tbody {
          td {
            img {
              width: 22px;
              height: 22px;
            }
            span {
              display: inline-block;
              width: 28px;
              text-align: center;
              margin-left: 0;
            }
          }
        }
      }
    }

    .issue-bar {
      .text-loop {
        .draw-code-component {
          span {
            span {
              img {
                width: 22px;
                height: 22px;
                margin-right: 6px;
              }
              span {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  .ball-panel-box {
    &.top {
      margin-top: -30px;
    }
    .ball-panel-title {
      font-size: 32px;
      background: rgb(30, 136, 210);
      color: #fff;
      padding: 0 80px 0 20px;
      height: 60px;
      line-height: 60px;
      display: inline-block;
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        height: 60px;
        width: 60px;
        right: -30px;
        top: 0;
        background: #fff;
        transform: rotate(-45deg);
      }
    }
    .ball-panel-tip {
      padding: 30px;
      text-align: center;
    }
  }
  .number-panel-box {
    &:nth-of-type(1) {
      .ball-table {
        .ball {
          width: 120px;
          height: 70px;
          line-height: 70px;
          border: 1px solid #afafb2; /*no*/
          border-radius: 10px;
          color: #333 !important;
          position: relative;

          .ball-data {
            left: 0;
            top: 82px;
          }
        }
        tr {
          &:nth-of-type(3) {
            td {
              &:nth-of-type(2) {
                .ball {
                  width: 124px;
                  &::before {
                    left: -10px;
                  }
                }
              }
            }
          }
          td {
            &.selected .ball {
              color: #333 !important;
              background-color: transparent !important;
              &::before {
                content: "";
                display: block;
                width: 140px;
                height: 90px;
                border: 3px solid #fdca72;
                border-radius: 10px;
                position: absolute;
                left: -12px;
                top: -13px;
              }
              &::after {
                content: "";
                display: block;
                width: 48px;
                height: 50px;
                background-image: url("../../../../../lib/img/klpk3/money.png");
                background-size: cover;
                position: absolute;
                left: -24px;
                bottom: -26px;
              }
            }
          }
        }
      }
    }
    &:nth-of-type(2) {
      .ball-panel {
        .ball-table {
          td {
            text-align: left;
          }
          .selected .ball {
            background-color: transparent !important;
            &::before {
              content: "";
              display: block;
              width: 218px;
              height: 90px;
              border: 3px solid #fdca72;
              border-radius: 10px;
              position: absolute;
              left: -12px;
              top: -12px;
            }
            &::after {
              content: "";
              display: block;
              width: 48px;
              height: 50px;
              background-image: url("../../../../../lib/img/klpk3/money.png");
              background-size: cover;
              position: absolute;
              left: -24px;
              bottom: -26px;
            }
          }
          .ball {
            width: 198px;
            height: 70px;
            border-radius: 5px;
            border: 1px solid #afafb2; /*no*/
            color: #333 !important;
          }
          .ball-label {
            display: block;
            width: 198px;
            text-align: center;
            line-height: 1.4;
            padding-top: 14px;

            span {
              display: inline-block;
              width: 100px;
              font-size: 20px;
              color: #666;

              em {
                color: #ff7a0d;
              }
            }
          }
          .ball-data {
            top: 90px;
          }
        }
      }
    }
  }
}

.modal {
  .popup-component {
    .popup-wrap {
      .scheme-list {
        .order-detail {
          .balls {
            .ballImg {
              display: inline-block;
              width: 22px;
              height: 22px;
              margin-right: 10px;
              img {
                width: 22px;
                height: 22px;
              }
            }
            span {
              color: #ed1c24;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
