@import "../../../../../../lib/scss/base/base.scss";

.analytic-chart {
  padding: 40px 0;
  background: #fff;
  .chart-header {
    display: flex;
    padding: 0 20px 20px;
  }
  .chart-title {
    display: block;
    flex: 1;
    color: #999;
  }
  .chart-legend {
    span {
      margin-left: 60px;
      &.dot {
        padding-left: 30px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #01af63;
          left: 0;
          top: 50%;
          margin-top: -10px;
        }
        &.red-dot {
          &:after {
            background: #f01614;
          }
        }
      }
    }
  }
}

.empty-records {
  background: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 32px;
}
