// @import '../../base/base.scss';

.yc-abus {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;
  .menu-list {
    padding-left: 10px;
    background: #fff;
    .menu-item {
      font-size: 32px;
      padding: 26px 32px 28px 0;
      background: #fff;
      border-bottom: 1px solid #f4f4f4; /*no*/
      display: flex;
      justify-content: space-between;
      em {
        color: #999999;
        text-align: right;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .bank-header {
    background: #1e88d2;
    color: #fff;
    padding: 0;
    background-image: url("../img/lineone@2x.png"), url("../img/linetwo@2x.png"),
      url("../img/linethree@2x.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 0 100%, 0 100%, 0 100%;
    background-size: 100% 45px, 100% 45px, 100% 45px;
    .ab-des {
      padding: 0 48px 48px 48px;
      .logo-img {
        margin: 30px 0 20px 0;
        text-align: center;
        img {
          height: 120px;
        }
      }
      div {
        margin-bottom: 28px;
      }
      .last-one {
        margin-bottom: 0px;
      }
    }
  }
  .st-copy-absolute {
    width: 100%;
    font-size: 24px;
    color: #999999;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 1;
    p {
      text-align: center;
    }
  }
}
