// @import '../base/base.scss';
@import "./common.scss";

.draw-money {
  .header-detail a {
    color: #fff;
  }
  .bank-section {
    margin-top: 20px;
    .bank-item {
      display: flex;
      background: #fff;
      justify-content: space-between;
      align-items: center;
      .bank-img {
        width: 65px;
        height: 65px;
        margin: 0 30px;
      }
      .bank-item-r {
        flex: 1;
        display: flex;
        height: 100%;
        padding: 32px 32px 32px 0;
        align-items: center;
        .bank-name {
          flex: 1;
          display: flex;
          flex-direction: column;
          em {
            font-size: 28px;
            color: #999999;
            display: inline-block;
          }
          span {
            font-size: 32px;
          }
        }
        .small-btn-orange {
          border: 1px solid #fe7a0d; /*no*/
          border-radius: 4px;
          color: #fe7a0d;
          font-size: 28px;
          padding: 8px 35px;
        }
        .icon-arrow-r {
        }
      }
    }
  }
  .sf-section {
    background: #fff;
    margin-top: 10px;
    .sf-item {
      padding: 30px;
      display: flex;
      align-items: center;
      span {
        font-size: 32px;
        color: #333333;
      }
      input {
        border: 0;
        flex: 1;
        font-size: 28px;
        margin-left: 30px;
        color: #999999;
        outline: 0 none;
        height: 68px;
      }
      .icon-delete {
      }
    }
  }
  .money-p {
    font-size: 24px;
    color: #999999;
    padding: 5px 32px;
    display: flex;
    .flex {
      flex: 1;
    }
    .orange {
      color: #fe7a0d;
    }
  }
  button {
  }
  .btn-blue {
  }
  .btn-grey {
  }
  .p-desc {
  }
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    .cover-bottom {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      animation: bottomup 0.4s;
      animation-fill-mode: forwards;
      .pl10-section {
        padding: 20px 0 10px 30px;
        background: #fff;
        position: relative;
        .bank-shutdown {
          position: absolute;
          top: 0;
          right: 27px;
          transform: translateY(-100%);
        }
        .icon-shutdown {
          display: inline-block;
          width: 80px;
          height: 80px;
          background: url("../img/icon_Shut_down2@2x.png") no-repeat;
          background-size: cover;
        }
        .bank-list-area {
          max-height: 800px;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
          .showflex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;
            padding-right: 29px;
            border-bottom: 1px solid #e6e6e6; /*no*/
            .bank-img {
              width: 60px;
              height: 60px;
              margin-right: 20px;
            }
            .recharge-section-m {
              flex: 1;
              margin-right: 25px;
              display: flex;
              flex-direction: column;
              font-size: 24px;
              color: #999999;
              span:first-child {
                font-size: 32px;
                color: #333333;
              }
            }
            .recharge-section-r {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              font-size: 28px;
              color: #999999;
              .icon-bank-sup {
                width: 36px;
                height: 36px;
                background: url("../img/bank/banksup@2x.png") no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
  .cxHide {
    display: none;
  }
}
.message-alert {
  padding-top: 30px;
  .title {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .content {
    span {
      color: #e12f2f;
    }
  }
}
