// @import '../base/base.scss';

.real-name {
  .sf-section {
    padding-left: 0;
    .sf-item {
      padding: 30px;
      display: flex;
      align-items: center;
      background: #fff;
      border-bottom: 1px solid #e6e6e6; /*no*/
      span {
        font-size: 32px;
        color: #333333;
      }
      input {
        font-size: 28px;
        border: 0;
        flex: 1;
        margin-left: 30px;
        color: #999999;
        height: 68px;
      }
      .icon-delete {
        width: 68px;
        height: 68px;
        background: url("../img/deletegrey@2x.png") no-repeat center;
        background-size: 50%;
      }
    }
    .yzm-section {
      font-size: 32px;
      background: #fff;
      display: flex;
      align-items: center;
      .sf-item {
        flex: 1;
        display: flex;
        align-items: center;
        input {
          margin-left: 20px;
          border: 0;
          flex-shrink: 1;
          outline: 0 none;
        }
        .icon-delete {
          flex-shrink: 0;
        }
        span {
          flex-shrink: 0;
        }
      }
      .yzm {
        font-size: 24px;
        color: #1e88d2;
        padding: 10px 0;
        border-left: 1px solid #e6e6e6; /*no*/
        text-align: center;
        width: 30%;
      }
    }
  }
  button {
    display: block;
    border: 0;
    width: 90%;
    height: 89px;
    border-radius: 4px;
    font-size: 34px;
    margin: 80px auto 50px;
    font-weight: 600;
    color: #999999;
  }

  .btn-blue {
    background: #1e88d2;
    color: #fff;
  }
  .p-desc {
    font-size: 20px;
    color: #999999;
    margin: 0 53px;
  }
  .cover {
    .rn-section {
      width: 90%;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      color: #333333;
      .rn-section-t {
        padding: 30px 30px 20px;
        font-size: 24px;
        .red {
          color: #ed1c24;
        }
        h3 {
          font-size: 28px;
          font-weight: normal;
        }
        .rn-section-wrapper {
          padding: 10px 14px;
          border: 1px solid #afafbc; /*no*/
          margin-top: 10px;
          h4 {
            font-weight: normal;
          }
        }
      }
    }
  }
}
