.create-copy-order-button {
  border: solid 1px #ff7a0d; /*no*/
  color: #ff7a0d;
  font-size: 34px;
  border-radius: 5px; /*no*/
  padding: 10px 60px;
  background: transparent;
  margin: 0;
  outline: 0;
}
